<div>
    <table id="medicineTable" datatable="ng" class="table table-striped table-bordered" width="100%" role="grid">
        <thead>
        <tr>
            <th class="sorting">Medicine ID</th>
            <th class="sorting">Name</th>
            <th class="sorting">Type</th>
            <th class="sorting">Price</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="medicine in medicines">
            <td>{{patient.id}}</td>
            <td>{{patient.name}}</td>
            <td>{{patient.type}}</td>
            <td>{{patient.price}}</td>
        </tr>
        </tbody>
    </table>
</div>


<form class="form-horizontal" role="form" ng-submit="createMedicine()">
    Name: <input type="text" ng-model="name">
    Type: <input type="text" ng-model="type">
    Phone Number: <input type="text" ng-model="price">
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

<br>

Find By
<form class="form-horizontal" role="form" ng-submit="getMedicine()">
    Medicine ID: <input type="text" ng-model="id">
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

<br>

Edit patient
<form class="form-horizontal" role="form" ng-submit="editMedicine()">
    Medicine ID: <input type="text" ng-model="id">
    Name: <input type="text" ng-model="name">
    Type: <input type="text" ng-model="type">
    Price: <input type="text" ng-model="price">
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

<br>