<div class="container" style="text-align: center; margin: 0 auto;">
    <div ng-controller="clinicController">
        <div style="position: absolute; left: 0px; width: 50%;">
            <div style="margin: 20px;">

            <table id="clinicTable" datatable="ng" class="table table-striped table-bordered" width="100%" role="grid">
        <thead>
        <tr>
            <th class="sorting">Clinic ID</th>
            <th class="sorting">Name</th>
            <th class="sorting">Address</th>
            <th class="sorting">City</th>
            <th class="sorting">State</th>
            <th class="sorting">Zip</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="clinic in clinics" ng-click="selectClinic(clinic)" role="button">
            <td>{{clinic.clinicId}}</td>
            <td>{{clinic.clinicName}}</td>
            <td>{{clinic.clinicAddress}}</td>
            <td>{{clinic.clinicCity}}</td>
            <td>{{clinic.clinicState}}</td>
            <td>{{clinic.clinicZip}}</td>
        </tr>
        </tbody>
    </table>
</div>
        </div>

<!--
<form class="form-horizontal" role="form" ng-submit="createClinic()">
    Name: <input type="text" ng-model="name">
    Address: <input type="text" ng-model="address">
    City: <input type="text" ng-model="city">
    State: <input type="text" ng-model="state">
    Zip: <input type="text" ng-model="zip">
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

<br>-->

        <div style="position: absolute; right: 0px; width: 50%;">
            <div style="margin: 20px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 style="color: #555555;">Add/Edit a Clinic</h2>
        <form class="form-horizontal" role="form" ng-submit="editClinic()">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input ng-model="selectedClinic.clinicId" class="form-control" type="text" style="height: 30px" placeholder="Clinic ID">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input ng-model="selectedClinic.clinicName" class="form-control" type="text" style="height: 30px" placeholder="Clinic Name">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input ng-model="selectedClinic.clinicAddress" class="form-control" type="text" style="height: 30px" placeholder="Address">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input ng-model="selectedClinic.clinicCity" class="form-control" type="text" style="height: 30px" placeholder="City">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input ng-model="selectedClinic.clinicState" class="form-control" type="text" style="height: 30px" placeholder="State">
            </div><br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input ng-model="selectedClinic.clinicZip" class="form-control" type="text" style="height: 30px" placeholder="Zip Code">
            </div><br>



<!--            Clinic ID: <input type="text" ng-model="id">
            Name: <input type="text" ng-model="name">
            Address: <input type="text" ng-model="address">
            City: <input type="text" ng-model="city">
            State: <input type="text" ng-model="state">
            Zip: <input type="text" ng-model="zip">-->
            <input type="submit" value="Submit Clinic" class="btn btn-primary btn-lg btn-block"/>
        </form>
            </div>
        </div>

        <br>

        <div class="panel panel-default">
            <div class="panel-body">
                <h2 style="color: #555555;">Find a Clinic</h2>
<form class="form-horizontal" role="form" ng-submit="getClinic()">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"></span>
        <input ng-model="findId" class="form-control" type="text" style="height: 30px" placeholder="Clinic ID">
    </div><br>



<!--    Clinic ID: <input type="text" ng-model="id">-->
    <input type="submit" value="Find Clinic" class="btn btn-primary btn-lg btn-block"/>
</form>
                <table class="table table-striped table-bordered" width="100%" role="grid">
                    <thead>
                    <tr>
                        <th class="sorting">Clinic ID</th>
                        <th class="sorting">Name</th>
                        <th class="sorting">Address</th>
                        <th class="sorting">City</th>
                        <th class="sorting">State</th>
                        <th class="sorting">Zip</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{result.clinicId}}</td>
                        <td>{{result.clinicName}}</td>
                        <td>{{result.clinicAddress}}</td>
                        <td>{{result.clinicCity}}</td>
                        <td>{{result.clinicState}}</td>
                        <td>{{result.clinicZip}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

<br>


</div>
</div>
    </div>
</div>