<div class="container" style="text-align: center; margin: 0 auto;">
    <div ng-controller="clinicController">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <ul class="nav nav-tabs">
                    <!-- Button Trigger for Create Batch Modal -->
                    <li role="button" class="pull-right" data-toggle="modal" data-target="#createClinicModal">
                        <a>Create Clinic<span class="glyphicon glyphicon-plus" aria-hidden="true">
                    </span></a>
                    </li>
                </ul>
            </div>
        </div>
    <table id="clinicTable" datatable="ng" class="table table-striped table-bordered" width="100%" role="grid">
        <thead>
        <tr>
            <th class="sorting">Clinic ID</th>
            <th class="sorting">Name</th>
            <th class="sorting">Address</th>
            <th class="sorting">City</th>
            <th class="sorting">State</th>
            <th class="sorting">Zip</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="medicine in medicines">
            <td>{{clinic.id}}</td>
            <td>{{clinic.name}}</td>
            <td>{{clinic.address}}</td>
            <td>{{clinic.city}}</td>
            <td>{{clinic.state}}</td>
            <td>{{clinic.zip}}</td>
        </tr>
        </tbody>
    </table>
</div>


<form class="form-horizontal" role="form" ng-submit="createClinic()">
    Name: <input type="text" ng-model="name">
    Address: <input type="text" ng-model="address">
    City: <input type="text" ng-model="city">
    State: <input type="text" ng-model="state">
    Zip: <input type="text" ng-model="zip">
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

<br>

Find By
<form class="form-horizontal" role="form" ng-submit="getClinic()">
    Clinic ID: <input type="text" ng-model="id">
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

<br>

Edit clinic
<form class="form-horizontal" role="form" ng-submit="editClinic()">
    Clinic ID: <input type="text" ng-model="id">
    Name: <input type="text" ng-model="name">
    Address: <input type="text" ng-model="address">
    City: <input type="text" ng-model="city">
    State: <input type="text" ng-model="state">
    Zip: <input type="text" ng-model="zip">
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>

<br>
</div>