
<!doctype html>
<html lang="en" ng-app="ofsApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="/styles/style.css">

    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>

    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.6.0/angular-datatables.js"></script>
    <script src="scripts/configuration.js"></script>
    <script src="scripts/customerService.js"></script>
    <script src="scripts/installationService.js"></script>
    <script src="scripts/inventoryService.js"></script>
    <script src="scripts/productService.js"></script>
    <script src="scripts/catalogService.js"></script>
    <script src="scripts/orderService.js"></script>
    <script src="scripts/productService.js"></script>
    <script src="scripts/controllers.js"></script>
    <script type="text/javascript" charset="utf-8">
        angular.element(document).ready(function () {
            angular.element('#ordersTable').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf', 'colvis']
            }).buttons().container()
                .appendTo('#example_wrapper .col-sm-6:eq(0)');
            angular.element('#customerTable').DataTable();
            angular.element('#catalogTable').DataTable();
        });
        $(document).ready(function() {
            $('#ordersTable').DataTable();
            $('#customerTable').DataTable();
            $('#installationTable').DataTable();
        } );
    </script>

    <title>Document</title>
</head>
<body ng-controller="orderController">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">OFS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{active: $route.current.activeTab == 'orders'}"><a href="#">Orders</a></li>
                <li ng-class="{active: $route.current.activeTab == 'catalog'}"><a href="#catalog">Catalog</a></li>
                <li ng-class="{active: $route.current.activeTab == 'customers'}"><a href="#customers">Customers</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <button class="btn btn-success navbar-btn" ng-click="ordersModal()" data-toggle="modal"
                        data-target="#orderModal">Create Order
                </button>
            </ul>
        </div>
    </div>
</nav>
<div id="mainContent">
    <div ng-view></div>
</div>
<footer class="footer">
    Order Fulfillment System ®
</footer>

<!--Create Order modal-->
<div id="orderModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Create Order</h4>
            </div>
            <div class="modal-body">
                <!--Select customer-->
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <h5>Select Customer</h5>
                        <hr/>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control" placeholder="Search" ng-model="searchCustomer">
                        </div>
                        <br>
                        <div class="panel panel-success" ng-show="selectedCustomer" ng-hide="!selectedCustomer">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{selectedCustomer.firstName}} {{selectedCustomer.lastName}}
                                    <span>
                                        <button type="button" class="btn btn-xs btn-danger"
                                                ng-click="unSelectCustomer(customer)">
                                        Remove
                                    </button>
                                    </span>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <b>Company: </b>{{selectedCustomer.companyName}}
                                <br>
                                <b>Billing Address: </b>{{selectedCustomer.billingAddress}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="panel panel-primary"
                             ng-repeat="customer in customers | filter:searchCustomer | limitTo:3 | orderBy:'firstName'">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{customer.firstName}} {{customer.lastName}}
                                    <span>
                                        <button type="button" class="btn btn-xs btn-success"
                                                ng-click="selectCustomer(customer)">
                                        Select
                                    </button>
                                    </span>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <b>Company: </b>{{customer.companyName}}
                                <br>
                                <b>Billing Address: </b>{{customer.billingAddress}}
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <!--Add products-->
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pre-scrollable">
                        <h5>Add Products</h5>
                        <hr/>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-barcode"></span></span>
                            <input type="text" class="form-control" placeholder="Search" ng-model="searchProducts">
                        </div>
                        <br>
                        <div class="panel panel-success" ng-show="selectedProducts"
                             ng-hide="!selectedProducts || selectedProducts.length==0">
                            <table class="table table-hover">
                                <thead>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Limit</th>
                                <th>Quantity</th>
                                <th></th>
                                </thead>
                                <tbody>
                                <tr ng-repeat="selectedProduct in selectedProducts track by $index">
                                    <td>{{selectedProduct.name}}</td>
                                    <td>{{selectedProduct.price | currency : '$' : 2}}</td>
                                    <td ng-repeat="inventoryItem in inventory | filter:selectedProduct.id:true">
                                        {{inventoryItem.quantity}}
                                    </td>
                                    <td width="5px"><input type="number" class="form-control" id={{selectedProduct.id}} value="1"></td>
                                    <td width="5px">
                                        <button ng-click="removeFromSelectedProducts($index)"
                                                class="btn btn-danger btn-xs"><span
                                                class="glyphicon glyphicon-remove"></span></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <button ng-repeat="product in products | filter:searchProducts | limitTo:50"
                                type="button" class="btn btn-info" ng-click="addToSelectedProducts(product)">
                            {{product.name}} : {{product.price | currency : '$' : 2}}
                        </button>
                    </div>
                </div>
                <hr/>
                <!--Select installation address-->
                <div class="row" ng-show="selectedCustomer" ng-hide="!selectedCustomer">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <h5>Select Installation for Customer</h5>
                        <hr/>
                        <div class="panel panel-success" ng-show="selectedInstallation" ng-hide="!selectedInstallation">
                            <div class="panel-heading">
                                <h3 class="panel-title">Selected Installation
                                    <span>
                                        <button type="button" class="btn btn-xs btn-danger"
                                                ng-click="unSelectInstallation(selectedInstallation)">
                                        Remove
                                    </button>
                                    </span>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <b>Address: </b>{{selectedInstallation.address}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="panel panel-primary"
                             ng-repeat="installation in installations | filter:searchInstallation | limitTo:5">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{installation.address}}
                                    <span>
                                        <button type="button" class="btn btn-xs btn-success"
                                                ng-click="selectInstallation(installation)">
                                        Select
                                    </button>
                                    </span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <!--Write a description-->
                <textarea class="form-control" ng-model="orderDescription" placeholder="Other details about the order"></textarea>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="createOrder()" data-dismiss="modal">Create</button>
            </div>
        </div>
    </div>
</div>



</body>
</html>