<div class="container" style="text-align: center; margin: 0 auto;">
<div ng-controller="patientController">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <ul class="nav nav-tabs">
                <!-- Button Trigger for Create Batch Modal -->
                <li role="button" class="pull-right" data-toggle="modal" data-target="#createPatientModal">
                    <a>Create Patient<span class="glyphicon glyphicon-plus" aria-hidden="true">
                    </span></a>
                </li>
            </ul>
        </div>
        <table id="patientTable" datatable="ng" class="table table-striped table-bordered" width="100%" role="grid">
            <thead>
            <tr>
                <th class="sorting">Patient ID</th>
                <th class="sorting">First Name</th>
                <th class="sorting">Last Name</th>
                <th class="sorting">Phone Number</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="patient in patients">
                <td>{{patient.patientId}}</td>
                <td>{{patient.patientFirstName}}</td>
                <td>{{patient.patientLastName}}</td>
                <td>{{patient.phoneNumber}}</td>
            </tr>
            </tbody>
        </table>
    <form class="form-horizontal" role="form" ng-submit="createPatient()">
        First Name: <input type="text" ng-model="firstName">
        Last Name: <input type="text" ng-model="lastName">
        Phone Number: <input type="text" ng-model="phoneNumber">
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>

    <br>

    Find By
    <form class="form-horizontal" role="form" ng-submit="getPatient()">
        Patient ID: <input type="text" ng-model="id">
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
    <table class="table table-striped table-bordered" width="100%" role="grid">
            <thead>
            <tr>
                <th class="sorting">Patient ID</th>
                <th class="sorting">First Name</th>
                <th class="sorting">Last Name</th>
                <th class="sorting">Phone Number</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{result.patientId}}</td>
                <td>{{result.patientFirstName}}</td>
                <td>{{result.patientLastName}}</td>
                <td>{{result.phoneNumber}}</td>
            </tr>
            </tbody>
    </table>
    <br>

    Edit patient
    <form class="form-horizontal" role="form" ng-submit="editPatient()">
        Patient ID: <input type="text" ng-model="patientId">
        First Name: <input type="text" ng-model="patientFirstName">
        Last Name: <input type="text" ng-model="patientLastName">
        Phone Number: <input type="text" ng-model="phoneNumber">
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
    <br>
</div>
</div>
</div>